.text-justify{
  text-align: justify;
}

.show-pointer{
  cursor: pointer !important;
}

.container-signup {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -moz-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -o-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  -ms-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; 
}

.form-control:focus {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

/* For notification toast */
.fixed,.toast-container{
  position: fixed !important;
  transition: opacity 0.5s linear !important;
}
.wrapper{
  z-index: 101;
  width: 420px;
  padding: 30px 20px;
  position: fixed;
  top: 50px;
  overflow: hidden;
}
#show-toast{
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: #101020;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#toast_custom{
  box-sizing: border-box;
  width: 380px;
  height: 90px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.2fr 6fr 0.5fr;
  transition: 1s;
}
.ccontainer-1,.ccontainer-2{
  align-self: center;
  font-size: 18px;
}
.ccontainer-1 i{
  padding: 0;
  margin: 0;
  font-size: 40px;
  /* color: #47d764; */
}
.ccontainer-2 p:first-child{
  padding: 0;
  margin: 0;
  color: #101020;
  font-weight: 600;
  font-size: 18px;
}
.ccontainer-2 p:last-child{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #656565;
  font-weight: 400;
}
#slide {
  right: -600px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
}
@-webkit-keyframes slide {
  100% { right: 0; }
}

@keyframes slide {
  100% { right: 0; }
}

/*Card Formatting*/
.card-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*Type writer text creator*/
.small-image{
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fit-content{
  width: fit-content;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards, blinking .9s infinite;
  font-size: 2rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}